body{
    
    width: auto;
    margin: auto;
    border: 1px solid red;
    background: gray;
    
}

h2{
    text-align: center;
    color: blue;
}
p{
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}