body{
    
    width: auto;
    margin: auto;
    border: 10px dotted black;
    background: gray;
    padding: 0ch;
}

h2{
    text-align: center;
    color: blue;
}
p{
    font-stretch: initial;
    font-size: 18px;
    font-weight: bold;
}